:root {

	--color-primary: #4b3e9d;
	--color-grad-1: #45391d;
	--color-grad-2: #472a7d;

	--color-light-1: #e2ddda;
	--color-light-2: #f2efee;
	--color-light-3: #d3c7c3;
	--color-dark-1: #615551;
	--color-dark-2: #918581;
	--gradient: linear-gradient(to right bottom, var(--color-grad-1), var(--color-grad-2));



	--padding: 1rem;
	--border-radius: 1rem;
	--border-size: 3px;

	--font-size-large: 2.5rem;
	--font-size-small: 1.2rem;
}